<%- include("partials/header"); -%>

<div class="exist">
    <h1>You are already register kindly login</h1>
    <form action="/" method="get">
        <button>login</button>
    </form>
</div>

<%- include("partials/footer"); -%>