<%- include("partials/header"); -%>

<div class="success">
    <h1>You have successfuly registered <a href="/">kindly login</a></h1>
    <form action="/" method="get">
        <button>login</button>
    </form>
</div>

<%- include("partials/footer"); -%>